<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Register</title>
</head>
<body>
    <form method="post">
        <label >username <span>*</span></label>
        <input type='text' name= "username"  placeholder="type your name in english please...">
        <label for="pwd">password <span>*</span></label>
        <input type="password" name="pwd" id='pwd'placeholder="type a complex password">
        <label for="email">email <span>*</span></label>
        <input type="email" name="email" id="email" placeholder="type a valid email">
        <label for="phone">phone <span>*</span></label>
        <input type="text" name="phone" id="phone" placeholder="your phone here please...">
        <input type='submit' value='register'>
    </form>
</body>
</html>